

/* Global Classes */ 
.section {
    padding: 2rem 0 4rem !important;
  }
  h1{ font-size: var(--h1-font-size);}
  h2{ font-size: var(--h2-font-size);}
  h3{ font-size: var(--h3-font-size);}
  h4{ font-size: var(--h4-font-size);}
  h5{ font-size: var(--h5-font-size);}
  h6{ font-size: var(--h6-font-size);}
.section_title{
    font-size: var(--h1-font-size);
    text-align: center ;
    /* font-family: var(--font-family-sans-serif); */
    text-transform: uppercase;
    /* font-size: var(--font-medium); */
    
  }
  .section_subtitle{
    
    font-size: var(--h3-font-size);
    /* font-weight: var(--font-semi-bold); */
    margin-bottom: var(--mb-3);text-align: center;
  }

/* Buttons */ 

.button{
    padding: .8rem 2.2rem;
    font-family: var(--font-famliy);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button{
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after, .button.secondary-button::after{
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px;  right: -2px;
    background: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover{
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}
/* scroll button */
.scroll_top_btn{
    position: fixed;
    right: 2%;
    bottom: 2%;
    background-color: var(--first-color);
    color:white;
    display: inline-block;
    padding: 1.4rem 1.8rem;
    cursor: pointer;
    border-radius: 5px;
}
/* paraa */
p.para{
    color: var(--text-color);
    font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto{
    font-family: var(--roboto);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}


.title-h1{
    font: normal bold 39px/ 40px var(--roboto);
}


.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}